CREATE TABLE `ratings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `store_id` int DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`,`store_id`),
  KEY `store_id` (`store_id`),
  CONSTRAINT `ratings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `ratings_ibfk_2` FOREIGN KEY (`store_id`) REFERENCES `stores` (`id`),
  CONSTRAINT `ratings_chk_1` CHECK ((`rating` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `ratings` WRITE;

INSERT INTO `ratings` VALUES (1,1,1,5,'2026-03-19 10:53:58'),(2,1,2,4,'2026-03-19 10:53:58'),(3,2,1,4,'2026-03-19 10:53:58'),(4,2,3,5,'2026-03-19 10:53:58'),(5,3,2,3,'2026-03-19 10:53:58'),(6,3,4,4,'2026-03-19 10:53:58'),(7,1,3,4,'2026-03-19 10:53:58'),(8,2,4,5,'2026-03-19 10:53:58'),(9,2,2,3,'2026-03-19 12:38:48');

UNLOCK TABLES;

CREATE TABLE `stores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(60) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` varchar(400) DEFAULT NULL,
  `owner_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `owner_id` (`owner_id`),
  CONSTRAINT `stores_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `stores` WRITE;

INSERT INTO `stores` VALUES (1,'Fresh Market','market@example.com','100 Market St',4),(2,'Corner Shop','corner@example.com','200 Corner Ave',5),(3,'Mega Store','mega@example.com','300 Mega Blvd',4),(4,'Quick Stop','quickstop@example.com','400 Quick Lane',5),(5,'Admin Created Store 1773918623','adminstore1773918623@example.com','123 Admin Store Lane',NULL),(6,'Store 1773924636315','store_1773924636315@example.com','Store test address lane',NULL);

UNLOCK TABLES;

CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(60) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `address` varchar(400) DEFAULT NULL,
  `role` enum('ADMIN','USER','OWNER') DEFAULT 'USER',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


LOCK TABLES `users` WRITE;


UNLOCK TABLES;

